.b {
  position: relative;
  background-size: cover;
  width: 96vw;
  height: 96vh;
  margin: 1vw;
}

.layover {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
}

.b span {
  font-family: sans-serif;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roma {
    background-image: url(img/roma.jpg);
}

.londra {
  background-image: url(img/londra.jpg);
}

.parigi {
  background-image: url(img/parigi.jpg);
}
